################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cdnsrdr/v16
/x64/Debug
*.user
/Debug/cdnsrdr.tlog
/Debug
/Release
/x64/Release
/cdnstestapp/Debug
/cdnstestapp/Release
/cdnstestapp/x64
